.receipt-access .ant-table-tbody > tr > td, 
.receipt-access .ant-table-thead > tr > th {
    white-space: break-spaces;
    vertical-align: top;
}

.receipt-access .ant-collapse>.ant-collapse-item:last-child, 
.receipt-access .ant-collapse>.ant-collapse-item:last-child>.ant-collapse-header {
    border-radius: 12px;
    background-color: #d9d9d9;
    border: none;
}

.receipt-access .ant-collapse .ant-collapse-header,
.receipt-access .ant-collapse .ant-collapse-item-active .ant-collapse-header { 
    border-bottom: 0px solid #fff;
    padding-inline-start: 12px;
    background-color: #d9d9d9;
}


.receipt-access .ant-collapse .ant-collapse-item-active .ant-collapse-content,
.receipt-access .ant-collapse .ant-collapse-content {
    color: rgba(0, 0, 0, 0.88);
    background-color: #d9d9d9;
    border-top: 0px solid #d9d9d9;
    padding-inline: 12px;
}

.ant-form .ant-form-item {
    margin-bottom: 6px !important;
}
td.ant-table-cell>.ant-form-item {
    margin-bottom: 0px !important;
}
span.ant-typography+.ant-form-item.\!m-0,
h3.ant-typography+.ant-form-item.\!m-0, 
h4.ant-typography+.ant-form-item.\!m-0 
{
    margin-bottom: 0px !important;
}
  
.receipt-manage .ant-table-wrapper .ant-table-thead >tr>th, 
.receipt-manage .ant-table-wrapper .ant-table-thead >tr>td {
    vertical-align: middle;
}

.receipt-manage .text-end .ant-input-number-input {
    text-align: right;
}

/* .receipt-manage .ant-drawer-content-wrapper {
    transform: translateX(0px) !important;
}  */

@media screen and (max-width: 768px) {
  .receipt-manage .ant-drawer-content-wrapper {
     width: 100vw !important; /* Adjust the width for smaller screens */
   } 
}

@media screen and (min-width: 768px) {
  .receipt-manage .ant-drawer-content-wrapper {
      width: 40vw !important; /* Set a fixed width for larger screens */
    } 
}


.receipt-manage-form .ant-descriptions-item-label{
    min-width: 120px;
}